<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Prediction</title>
</head>
<body>
    <div class="login">
        <h1>Diabetes Prediction</h1>
        <form action="{{ url_for('predict') }}" method="POST">
            <input type="text" name="age" placeholder="age" required><br>
            <input type="text" name="sex" placeholder="sex" required><br>
            <input type="text" name="bmi" placeholder="bmi" required><br>
            <input type="text" name="bp" placeholder="bp" required><br>
            <input type="text" name="s1" placeholder="s1" required><br>
            <input type="text" name="s2" placeholder="s2" required><br>
            <input type="text" name="s3" placeholder="s3" required><br>
            <input type="text" name="s4" placeholder="s4" required><br>
            <input type="text" name="s5" placeholder="s5" required><br>
            <input type="text" name="s6" placeholder="s6" required><br>
            <input type="submit" value="Predict"><br>
        </form>
        <br>
        <br>


        <div class="result">
            {{ prediction_text }}
        </div>
    </div>
</body>
</html>
